/* General styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

header {
  padding: 10px 0;
  text-align: right;
}

.header-right a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.header-right a.active {
  background-color: #007bff;
  color: #fff;
  
}

.header-right a:hover {
  background-color: #0056b3;
  color: #fff;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

/* Form and input styles */
select, input[type="text"], button {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

select {
  flex: 0 0 30%;
}

input[type="text"] {
  width: 60%;
}

button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
  transition: background-color 0.3s, color 0.3s;

}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #000;
}

th, td {
  padding: 10px;
  text-align: left;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  /* Adjust table for smaller screens */
  table {
    overflow-x: auto;
  }

  /* Responsive adjustments for form inputs */
  select {
    width: 100%;
  }

  input[type="text"] {
    width: 100%;
  }
}

/* Additional styles */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 16px;
  margin-bottom: 8px;
}

#results {
  margin-top: 20px;
}

#specific-result {
  margin-top: 20px;
  text-align: center;
}

#specific-result button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

#specific-result button:hover {
  background-color: #0056b3;
}

label {
  font-weight: 500;
  margin-top: 15px;
  display:table;
  color: #495057;
}
